* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.v2_8 {
  width: 100%;
  height: 5770px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v8_2 {
  width: 100%;
  height: 959px;
  background: none;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v112_97 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 234px;
  left: 166px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 106px;
  opacity: 1;
  text-align: right;
}

.v104_32 {
  width: 100%;
  height: 540px;
  background: url("../images/v104_32.png");
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 0px;
  border: 2px solid rgba(17,17,187,1);
}

.v112_99 {
  width: 432px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 390px;
  left: 651px;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}

.v124_101 {
  width: 68px;
  height: 32px;
  background: url("../images/v124_101.png");
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 509px;
  border: 3px solid rgba(0,0,0,1);
}

.v22_15 {
  width: 100%;
  height: 1130px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 977px;
  left: 0px;
  overflow: hidden;
}

.name {
  color: #fff;
}

.v22_24 {
  width: 600px;
  height: 440px;
  background: rgba(200,134,134,1);
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 748px;
  overflow: hidden;
}

.v22_25 {
  width: 453px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 355px;
  left: 85px;
  font-family: Merriweather Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

.v22_26 {
  width: 600px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 837px;
  left: 748px;
  font-family: Raleway;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}

.v37_6 {
  width: 100%;
  height: 1130px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2107px;
  left: 0px;
  overflow: hidden;
}

.v37_13 {
  width: 100%;
  height: 140px;
  background: url("../images/v37_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 0px;
  overflow: hidden;
}

.v37_14 {
  width: 365px;
  height: 0px;
  background: url("../images/v37_14.png");
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 82px;
  border: 1px solid rgba(0,0,0,1);
}

.v37_15 {
  width: 397px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 522px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}

.v39_2 {
  width: 452px;
  height: 713px;
  background: rgba(175,124,124,1);
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 130px;
  overflow: hidden;
}

.v136_36 {
  width: 608px;
  height: 374px;
  background: rgba(175,124,124,1);
  opacity: 1;
  position: absolute;
  top: 644px;
  left: 720px;
  overflow: hidden;
}

.v39_7 {
  width: 608px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 280px;
  left: 720px;
  font-family: Raleway;
  font-weight: Medium;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}

.v42_3 {
  width: 100%;
  height: 1293px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3387px;
  left: 0px;
  overflow: hidden;
}

.v42_4 {
  width: 100%;
  height: 140px;
  background: url("../images/v42_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v42_5 {
  width: 365px;
  height: 0px;
  background: url("../images/v42_5.png");
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 82px;
  border: 1px solid rgba(0,0,0,1);
}

.v42_6 {
  width: 295px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 573px;
  font-family: Raleway;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: center;
}

.name {
  color: #fff;
}

.v42_9 {
  width: 900px;
  height: 600px;
  background: rgba(175,124,124,1);
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 270px;
  overflow: hidden;
}

.v42_11 {
  width: 12px;
  height: 18px;
  background: url("../images/v42_11.png");
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 292px;
  border: 5px solid rgba(247,207,207,1);
}

.v42_12 {
  width: 12px;
  height: 18px;
  background: url("../images/v42_12.png");
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 292px;
  border: 5px solid rgba(247,207,207,1);
}

.v42_13 {
  width: 12px;
  height: 18px;
  background: url("../images/v42_13.png");
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 1153px;
  border: 5px solid rgba(247,207,207,1);
}

.v42_14 {
  width: 12px;
  height: 18px;
  background: url("../images/v42_14.png");
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 1153px;
  border: 5px solid rgba(247,207,207,1);
}

.v43_15 {
  width: 900px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 960px;
  left: 271px;
  font-family: Merriweather Sans;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v43_16 {
  width: 100%;
  height: 810px;
  background: url("../images/v43_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4776px;
  left: 0px;
  overflow: hidden;
}

.v43_18 {
  width: 689px;
  color: rgba(0,0,0,0.20000000298023224);
  position: absolute;
  top: 749px;
  left: 0px;
  font-family: Bebas Neue;
  font-weight: Regular;
  font-size: 250px;
  opacity: 1;
  text-align: center;
  transform: rotate(-90deg);
}

.v43_21 {
  width: 390px;
  height: 50px;
  background: rgba(240,146,146,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 520px;
  overflow: hidden;
}

.v43_22 {
  width: 390px;
  height: 50px;
  background: rgba(240,146,146,1);
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 520px;
  overflow: hidden;
}

.v43_24 {
  width: 800px;
  height: 260px;
  background: rgba(240,146,146,1);
  opacity: 1;
  position: absolute;
  top: 362px;
  left: 520px;
  overflow: hidden;
}

.v43_23 {
  width: 350px;
  height: 50px;
  background: rgba(240,146,146,1);
  opacity: 1;
  position: absolute;
  top: 132px;
  left: 970px;
  overflow: hidden;
}

.v43_20 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 245px;
  left: 981px;
  font-family: Raleway;
  font-weight: Medium Italic;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}