@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #d6dbe1;
    margin: 0;
    word-wrap: break-word;
}

p {
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: 'Lora', serif;
}

#header {
    color: #c30101;
    font-size: 40px;
}